@charset "UTF-8";

body {
    font-family: 'Josefin Sans', sans-serif;
    color: #696969;
    font-size: smaller;
}


.nav {
    position: fixed;
    width: 15%;
    height: 100vh;
    overflow-y: auto;
    font-size: small;
    float: left;
    top: 0;
    left: 0;
    margin-bottom: 10%;
    border-right: 1px solid #ccc;

}


.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 85%;
    height: 10%;
    font-size: small;
    float: left;
    top: 0;
    left: 15%;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
}

.main {
    float: right;
    width: 85%;
    margin-top: 10%;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-size: x-small;
}


.custom-restricted-width {
    width: 10em;
}


.indicateur-retard, .indicateur-aujourdhui, .indicateur-a-venir {
margin-right: 20px;
}


.lst-container {

}


.icon {
    color: #62646a;
    margin-right: 6px;
}

.titre-main {
    margin-left: 3%;
}

.titre-main-item {

}

.form-container-creer-formation, .form-container-creer-session, .form-container-creer-utilisateur {
    margin-left: 3%;
    margin-top: 2%;
}

.pure-g {
    display: flex;
    justify-content: space-between;
}

.pure-u-1-3 {
    display: inline-block;
}

p, span {
    display: inline-block;
}

#container-details-session {
margin-left: 3%;
}

#container-lst-participants {
margin-top: 3%;
}

#container-lst-todo-urgence-haute {
    margin-top: 5%;
}

#container-lst-todo-urgence-moyenne {
    margin-top: 5%;
}

#bouton-detail-session {
margin-top: 2%;
}

.boutons-container-flex {
    display: flex;
    margin-top: 5%;
}

