<!DOCTYPE html>
<html lang="en">

    <div th:replace="~{fragments :: head}"></div>

<body>

    <div th:replace="~{fragments :: navbar}">...</div>

    <div th:replace="~{fragments :: header}">...</div>

<main class="main">
<div class="titre-container">
    <h2 class="titre-item">Créer un utilisateur</h2>
</div>

<div class="form-container">
    <form th:action="@{/utilisateur-cree}" th:object="${utilisateur}"
          method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>

        <div class="input-container">
            <label for="prenom">Prénom :</label> <input type="text"
             th:field="*{prenom}" id="prenom" name="prenom" required>
        </div>

        <div class="input-container">
            <label for="nom">Nom :</label> <input type="text"
           th:field="*{nom}" id="nom" name="nom" required>
        </div>


        <div class="input-container">
            <label for="mail">email :</label> <input type="text"
            th:field="*{mail}" id="mail" name="mail" required>
        </div>


        <div class="container-btn-enregistrer">
            <button type="submit" class="pure-button">Enregistrer</button>
        </div>
    </form>
</div>

</main>

</body>

    <div th:insert="~{fragments :: footer}">...</div>

</html>