<!DOCTYPE html>
<html lang="en">

<div th:replace="~{fragments :: head}"></div>


<body>

<div id="layout">

    <div th:replace="~{fragments :: layout-menu}">...</div>

    <div th:replace="~{fragments :: navbar}">...</div>

    <div th:replace="~{fragments :: header}">...</div>


    <div class="content-container">

        <main class="main">

            <div class="titre-main">
                <h2 class="titre-main-item">Ajouter une formation</h2>
            </div>

            <div class="form-container-creer-formation">
                <form th:action="@{/formation-cree}" th:object="${formation}"
                      method="POST" enctype="multipart/form-data" class="pure-form">
                    <input type="hidden" th:field="*{id}"/>
                    <fieldset>
                        <label for="intitule">Intitulé de l'action de formation</label>
                        <input type="text" th:field="*{intitule}" id="intitule" name="intitule"
                               placeholder="ex: TDD, Architecture... " required/>
                        <button type="submit" class="pure-button">Enregistrer</button>

                    </fieldset>
                </form>
            </div>

        </main>
    </div>
</div>
</body>

<div th:insert="~{fragments :: footer}">...</div>

</html>