<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/utilisateur-cree}" th:object="${utilisateur}"
      method="POST" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"  />

    <div class="utilisateur">
        <label for="prenom">Prénom :</label> <input type="text"
                                                    th:field="*{prenom}" id="prenom" name="prenom"
                                                    placeholder="Prénom" required>
    </div>

    <div class="utilisateur">
        <label for="nom">Nom :</label> <input type="text"
                                                         th:field="*{nom}" id="nom" name="nom"
                                                         placeholder="Nom" required>
    </div>


    <div class="utilisateur">
        <label for="mail">E-mail :</label> <input type="text"
                                                    th:field="*{mail}" id="mail" name="mail"
                                                    placeholder="E-mail" required>
    </div>


    <div>
        <button type="submit">Enregistrer</button>
    </div>
</form>




</body>
</html>