<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palo Training Manager</title>
</head>
<body>

<div class="titre-container">
    <h2 class="titre-item">Ajouter une session</h2>
</div>


<div class="form-container">
    <form th:action="@{/session-creee}" th:object="${session}"
          method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>

        <div class="input-container">
            <label for="select-intitule-formation">Intitulé de la formation :</label>
            <select th:field="*{formation}" id="select-intitule-formation" name="intitule" required>
                <option th:each="formation: ${@formationService.listeFormations}"
                        th:value="${formation.id}"
                        th:text="${formation.intitule}"></option>
            </select>
        </div>

        <div class="input-container">
            <label for="client">Client :</label> <input type="text"
                                                        th:field="*{client}" id="client" name="client" required>
        </div>


        <div class="input-container">
            <label for="dateDebut">Date de début de la session :</label> <input type="date"
                                                                                th:field="*{dateDebut}" id="dateDebut"
                                                                                name="dateDebut" required>
        </div>

        <div class="input-container">
            <label for="dateFin">Date de fin de la session :</label> <input type="date"
                                                                            th:field="*{dateFin}" id="dateFin"
                                                                            name="dateFin" required>
        </div>


        <div class="input-container">
            <label for="select-formateur">Formateur :</label> <select
                th:field="*{formateur}" id="select-formateur" name="formateur" required>
            <option th:each="utilisateur: ${@utilisateurService.listeUtilisateurs()}"
                    th:value="${utilisateur.id}" th:text="${utilisateur.nom}"></option>
        </select>
        </div>


        <div class="input-container">
            <label for="select-participant">Participants :</label> <select
                th:field="*{participants}" id="select-participant" name="select-participant" multiple required>
            <option th:each="utilisateur: ${@utilisateurService.listeUtilisateurs()}"
                    th:value="${utilisateur.id}" th:text="${utilisateur.prenom + ' '  + utilisateur.nom}"></option>
        </select>
        </div>

        <div class="container-btn-enregistrer">
            <button type="submit" class="btn-enregistrer">Enregistrer</button>
        </div>
    </form>
</div>


<form action="/session-modifiee" method="post" class="container-btn-modifier">
    <input type="hidden" name="id" th:value="${session.id}"/>
    <button type="submit" class="btn-modifier">Modifier session</button>
</form>


</body>
</html>