<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Palo Training Manager</title>
</head>
<body>

<div id="container-detail-session">
<div class="details-container">

    <div class="input-container">
    <span>Intitulé de la formation : </span>
    <span data-th-text="${sessionFormation.formation.intitule}"></span>
</div>

    <div class="input-container">
    <span>Client : </span>
    <span data-th-text="${sessionFormation.client}"></span>
</div>

    <div class="input-container">
    <span>Date de démarrage : </span>
    <span data-th-text="${#temporals.format(sessionFormation.dateDebut, 'dd-MM-yyyy')}"></span>
</div>

    <div class="input-container">
    <span>Date de fin : </span>
    <span data-th-text="${#temporals.format(sessionFormation.dateFin, 'dd-MM-yyyy')}"></span>
</div>

    <div class="input-container">
    <span>Durée (minutes) : </span>
    <span data-th-text="${sessionFormation.duree}"></span>
</div>

    <div class="input-container">
    <span>Formateur : </span>
    <span data-th-text="${sessionFormation.formateur.prenom}"></span>
    <span data-th-text="${sessionFormation.formateur.nom}"></span>
</div>

    <div class="input-container">
    <span>Tarif : </span>
    <span data-th-text="${sessionFormation.cout}"></span>
</div>

    <div class="input-container">
    <span>Modalités : </span>
    <span data-th-text="${sessionFormation.modalites}"></span>
</div>
</div>

<div id="container-lst-participants">
    <span>Liste des participant-e-s : </span>
    <form action="/docusign" method="get">
        <ul>
            <li th:each="participant : ${sessionFormation.participants}">
                <span th:text="${participant.prenom + ' ' + participant.nom}"></span>
                <input type="checkbox" name="ids" th:value="${participant.id}"/>
            </li>
        </ul>

        <div class="container-btn-enregistrer">
        <button type="submit">Envoyer demande de signature</button>
        </div>
    </form>
</div>

<div id="container-lst-todo-urgence-haute">
<h3>Cette semaine</h3>
<ul>
    <li th:each="todo : ${cetteSemaineTodos}">
        <span data-th-text="${todo.tache.libelle}"></span>
        <span data-th-text="${todo.date}"></span>
        <span data-th-text="${todo.etat}" th:id="'todo-etat-'+${todo.id}"></span>
        <button type="button" id="boutonTodo" th:attr="etatTodo=${todo.id}"
                onclick="modifierToDo(this)">Fait
        </button>
    </li>
</ul>
</div>

<div id="container-lst-todo-urgence-moyenne">
<h3>A venir</h3>
<ul>
    <li th:each="todo : ${aVenirTodos}">
        <span data-th-text="${todo.tache.libelle}"></span>
        <span data-th-text="${todo.date}"></span>
        <span data-th-text="${todo.etat}" th:id="'todo-etat-'+${todo.id}"></span>
        <button type="button" id="boutonTodo" th:attr="etatTodo=${todo.id}"
                onclick="modifierToDo(this)">Fait
        </button>
    </li>
</ul>
</div>

<form action="/archiver-session" method="post" class="container-btn-archiver">
    <input type="hidden" name="id" th:value="${sessionFormation.id}"/>
    <button type="submit" class="pure-button">Archiver session</button>
</form>

<form action="/modifier/session" method="get" class="container-btn-modifier">
    <input type="hidden" name="id" th:value="${sessionFormation.id}"/>
    <button type="button" class="pure-button">Modifier session</button>
</form>

<form action="/annuler-session" method="post" class="container-btn-annuler">
    <input type="hidden" name="id" th:value="${sessionFormation.id}"/>
    <button type="submit" class="pure-button">Annuler session</button>
</form>
</div>

<script>

    function modifierToDo(bouton) {
        let todoId = bouton.getAttribute("etatTodo");
        let url = "/todo-modifier?id=" + todoId;

        fetch(url, {
            method: "GET"
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error("Erreur");
                }
            })
            .then(data => {
                let todoEtatElement = document.getElementById("todo-etat-" + todoId);
                todoEtatElement.textContent = data;
            })
            .catch(error => {
                console.error("Erreur ", error);
            });
    }

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let btnModifier = document.querySelector('.btn-modifier');
        btnModifier.addEventListener("click", function () {
            let idSession = this.closest('.container-btn-modifier').querySelector('input[name="id"]').value;
            let redirectionUrl = '/modifier/session/' + idSession;
            window.location.href = redirectionUrl;
        });
    });
</script>

</body>
</html>