<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <span>Intitulé de la formation : </span>
    <span data-th-text="${sessionFormation.formation.intitule}"></span>
</div>

<div>
    <span>Client : </span>
    <span data-th-text="${sessionFormation.client}"></span>
</div>

<div>
    <span>Date de démarrage : </span>
    <span data-th-text="${#temporals.format(sessionFormation.dateDebut, 'dd-MM-yyyy')}"></span>
</div>

<div>
    <span>Date de fin : </span>
    <span data-th-text="${#temporals.format(sessionFormation.dateFin, 'dd-MM-yyyy')}"></span>
</div>

<div>
    <span>Durée (minutes) : </span>
    <span data-th-text="${sessionFormation.duree}"></span>
</div>

<div>
    <span>Formateur : </span>
    <span data-th-text="${sessionFormation.formateur.prenom}"></span>
    <span data-th-text="${sessionFormation.formateur.nom}"></span>
</div>

<div>
    <span>Tarif : </span>
    <span data-th-text="${sessionFormation.cout}"></span>
</div>

<div>
    <span>Modalités : </span>
    <span data-th-text="${sessionFormation.modalites}"></span>
</div>


<div>
    <span>Liste des participant-e-s : </span>
    <form action="/docusign" method="get">
        <ul>
            <li th:each="participant : ${sessionFormation.participants}">
                <span th:text="${participant.prenom + ' ' + participant.nom}"></span>
                <input type="checkbox" name="ids" th:value="${participant.id}"/>
            </li>
        </ul>


        <button type="submit">Envoyer demande de signature</button>
    </form>
</div>


<h3>Cette semaine</h3>
<ul>
    <li th:each="todo : ${cetteSemaineTodos}">
        <span data-th-text="${todo.tache.libelle}"></span>
        <span data-th-text="${todo.date}"></span>
        <span data-th-text="${todo.etat}" th:id="'todo-etat-'+${todo.id}"></span>
        <button type="button" id="boutonTodo" th:attr="etatTodo=${todo.id}"
                onclick="modifierToDo(this)">Fait
        </button>
    </li>
</ul>

<h3>A venir</h3>
<ul>
    <li th:each="todo : ${aVenirTodos}">
        <span data-th-text="${todo.tache.libelle}"></span>
        <span data-th-text="${todo.date}"></span>
        <span data-th-text="${todo.etat}" th:id="'todo-etat-'+${todo.id}"></span>
        <button type="button" id="boutonTodo" th:attr="etatTodo=${todo.id}"
                onclick="modifierToDo(this)">Fait
        </button>
    </li>
</ul>


<form action="/archiver-session" method="post">
    <input type="hidden" name="id" th:value="${sessionFormation.id}"/>
    <button type="submit">Archiver session</button>
</form>

<form action="/modifier-session" method="get">
    <input type="hidden" name="id" th:value="${sessionFormation.id}"/>
    <button type="submit">Modifier session</button>
</form>

<form action="/annuler-session" method="post">
    <input type="hidden" name="id" th:value="${sessionFormation.id}"/>
    <button type="submit">Annuler session</button>
</form>


<script>

    function modifierToDo(bouton) {
        let todoId = bouton.getAttribute("etatTodo");
        let url = "/todo-modifier?id=" + todoId;

        fetch(url, {
            method: "GET"
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error("Erreur");
                }
            })
            .then(data => {
                let todoEtatElement = document.getElementById("todo-etat-" + todoId);
                todoEtatElement.textContent = data;
            })
            .catch(error => {
                console.error("Erreur ", error);
            });
    }

</script>


</body>
</html>