<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments :: head}"></div>
</head>

<body>

<nav>
    <div th:replace="~{fragments :: navbar}">...</div>
</nav>

<main class="main-content">
<div class="lst-container">
    <table>
        <h2>Liste des formations :</h2>

        <tr data-th-each="formation: ${formations}">
            <td><a th:href="@{'formation/'+${formation.id}}"
                   data-th-text="${formation.intitule}"></a></td>
        </tr>
    </table>
</div>


<form action="/creer-formation" method="get" class="container-btn-enregistrer">
    <button type="submit" class="pure-button">Ajouter une formation</button>
</form>

</main>

</body>

<footer class="footer">
    <div th:insert="~{fragments :: footer}">...</div>
</footer>

</html>