<!DOCTYPE html>
<html>

<head th:fragment="head">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"/>
    <link rel="stylesheet" href="/css/trainingManager.css">
    <script src="https://kit.fontawesome.com/46c79d9640.js" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <meta charset="UTF-8">
    <title>Palo Training Manager</title>
</head>

<body>

<div th:fragment="layout-menu">
    <a href="#menu" id="menuLink" class="menu-link">
        <span>

        </span>
    </a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

</div>


<header th:fragment="header" class="header">
    <div id="container-indicateurs">
        <div class="indicateur-retard"><span id="indicateurToDoEnRetard" th:text="${nombreDeTodos}"></span> Retard</div>
        <div class="indicateur-aujourdhui"><span id="indicateurFormationAujourdhui" th:text="${nombreSessionsAujourdhui}"></span> Formation aujourd'hui</div>
        <div class="indicateur-a-venir"><span id="indicateurFormationProchainement" th:text="${nombreSessionsProchainement}"></span> Formation à venir</div>
    </div>
</header>


<nav th:fragment="navbar" id="menu">
    <div class="pure-menu custom-restricted-width">
        <span class="pure-menu-heading">PALO Training Manager</span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a th:href="@{/accueil}" class="pure-menu-link">
                    <i class="fas fa-home fa-xs icon"></i>
                    Accueil
                </a>
            </li>
            <li class="pure-menu-item">
                <a th:href="@{/sessions}" class="pure-menu-link">
                    <i class="fa-regular fa-calendar fa-xs icon"></i>
                    Planning</a>
            </li>
            <li class="pure-menu-item">
                <a th:href="@{/formations}" class="pure-menu-link">
                    <i class="fa-solid fa-graduation-cap fa-xs icon"></i>
                    Formations
                </a>
            </li>
            <li class="pure-menu-item">
                <a th:href="@{/liste-utilisateurs}" class="pure-menu-link">
                    <i class="fa-solid fa-user-group fa-xs icon"></i>
                    Profils
                </a>
            </li>
            <li class="pure-menu-item">
                <a th:href="@{/parametres}" class="pure-menu-link">
                    <i class="fa-solid fa-gears fa-xs icon"></i>
                    Paramètres
                </a>
            </li>

        </ul>
    </div>
</nav>


<div th:fragment="footer" class="footer">
    &copy; 2023 PALO TRAINING MANAGER
</div>


</body>
</html>


<!--<!DOCTYPE html>
<html>

<head th:fragment="head">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"/>
    <link rel="stylesheet" href="/css/trainingManager.css">
    <script src="https://kit.fontawesome.com/46c79d9640.js" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <meta charset="UTF-8">
    <title>Palo Training Manager</title>
</head>

<body>

<div th:fragment="layout-menu">
    <a href="#menu" id="menuLink" class="menu-link">

        <span>

        </span>
    </a>
</div>


<header th:fragment="header" class="header">
    <div id="container-indicateurs">
        <div class="indicateur-retard">Retard</div>
        <div class="indicateur-aujourdhui">Formation aujourd'hui</div>
        <div class="indicateur-a-venir">Formation à venir</div>
    </div>
</header>


<nav th:fragment="navbar" id="menu">


    <div class="pure-menu custom-restricted-width">
        <span class="pure-menu-heading">PALO Training Manager</span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">
                    <i class="fas fa-home fa-xs icon"></i>
                    Accueil
                </a>
            </li>
            <li class="pure-menu-item">
                <a th:href="@{/sessions}" class="pure-menu-link">
                    <i class="fa-regular fa-calendar fa-xs icon"></i>
                    Planning</a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">
                    <i class="fa-solid fa-user-group fa-xs icon"></i>
                    Clients
                </a>
            </li>
            <li class="pure-menu-item">
                <a th:href="@{/liste-utilisateurs}" class="pure-menu-link">
                    <i class="fa-solid fa-graduation-cap fa-xs icon"></i>
                    Formateurs
                </a>
            </li>
            <li class="pure-menu-item">
                <a href="#" class="pure-menu-link">
                    <i class="fa-solid fa-gears fa-xs icon"></i>
                    Paramètres
                </a>
            </li>

        </ul>
    </div>


</nav>


<div th:fragment="footer" class="footer">
    &copy; 2023 PALO TRAINING MANAGER
</div>


</body>
</html>
-->


