<!DOCTYPE html>
<html lang="en">

    <div th:replace="~{fragments :: head}"></div>

<body>

    <div th:replace="~{fragments :: navbar}">...</div>

    <div th:replace="~{fragments :: header}">...</div>

<main class="main">
    <div class="lst-container">
        <table>
            <h2>Liste des utilisateurs :</h2>

            <tr data-th-each="utilisateur: ${utilisateurs}">

                <th>Prénom :</th>
                <td><a th:href="@{'utilisateur/'+${utilisateur.id}}"
                       data-th-text="${utilisateur.prenom}"></a></td>

                <th>Nom :</th>
                <td><a th:href="@{'utilisateur/'+${utilisateur.id}}"
                       data-th-text="${utilisateur.nom}"></a></td>

                <th>Mail :</th>
                <td data-th-text="${utilisateur.mail}"></td>
            </tr>
        </table>
    </div>

    <form action="/creer-utilisateur" method="get" class="container-btn-enregistrer">
        <button type="submit" class="pure-button">Ajouter un participant</button>
    </form>

</main>

</body>

    <div th:insert="~{fragments :: footer}">...</div>

</html>