<!DOCTYPE html>
<html lang="en">

<div th:replace="~{fragments :: head}"></div>

<body>

<div id="layout">

    <div th:replace="~{fragments :: layout-menu}">...</div>

    <div th:replace="~{fragments :: navbar}">...</div>

    <div th:replace="~{fragments :: header}">...</div>


    <div class="content-container">

        <main class="main">
            <div class="titre-main">
                <h4 class="titre-main-item">Modifier la session</h4>
            </div>


            <div class="form-container-creer-session">
                    <form th:action="@{/session-modifiee}" th:object="${sessionFormation}"
                          method="POST" enctype="multipart/form-data" class="pure-form-aligned">
                    <input type="hidden" th:field="*{id}"/>
                    <fieldset id="fieldset-creer-session">
                        <div class="pure-control-group">
                            <label for="select-intitule-formation">Formation</label>
                            <select class="select select-bordered w-full max-w-xs" th:field="*{formation}" id="select-intitule-formation" name="intitule" required>
                                <option th:each="formation: ${@formationService.listeFormations}"
                                        th:value="${formation.id}"
                                        th:text="${formation.intitule}"></option>
                            </select>
                        </div>

                        <div class="pure-control-group">
                            <label for="aligned-client">Client</label>
                            <input class="input input-bordered w-full max-w-xs" type="text" th:field="*{client}" id="aligned-client" name="client" required>
                        </div>


                        <div class="pure-control-group date-group">
                            <label for="aligned-dates">Date(s)</label>
                            <input class="input input-bordered input-accent w-full max-w-xs" type="date"  id="aligned-dates" name="dates" th:each="date: *{#lists.sort(dates)}"  th:value="${date}">
                            <button type="button" id="ajoutDate" class="btn btn-accent"> + </button>
                        </div>


                        <div class="pure-control-group">
                            <label for="aligned-formateur">Formateur</label>
                            <select class="select select-bordered w-full max-w-xs" th:field="*{formateur}" id="aligned-formateur" name="formateur">
                                <option value="">Sélectionnez un formateur</option>
                                <option th:each="utilisateur: ${@utilisateurService.listeUtilisateurs()}"
                                        th:value="${utilisateur.id}" th:text="${utilisateur.nom}"></option>
                            </select>
                        </div>


                        <div class="pure-control-group">
                            <label for="aligned-participant">Participants</label>
                            <select th:field="*{participants}" id="aligned-participant" name="select-participant"
                                    multiple>
                                <option th:each="utilisateur: ${@utilisateurService.listeUtilisateurs()}"
                                        th:value="${utilisateur.id}"
                                        th:text="${utilisateur.prenom + ' '  + utilisateur.nom}"></option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-accent" id="btn-valider-creer-modifier-session">Valider</button>

                    </fieldset>
                </form>
            </div>



        </main>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#ajoutDate').on('click', function () {
                var divDates = $('<div class="pure-control-group date-group">' +
                    '<label for="aligned-dates">Date(s)</label>' +
                    '<input type="date" name="dates">' +
                    '</div>');

                $('.date-group:last').after(divDates);

            });
        });
    </script>



</div>

</body>

<div th:insert="~{fragments :: footer}">...</div>


</html>



