<!DOCTYPE html>
<html lang="en">

    <div th:replace="~{fragments :: head}"></div>

<body>

    <div th:replace="~{fragments :: navbar}">...</div>

    <div th:replace="~{fragments :: header}">...</div>

    <div class="content-container">

<main class="main">
    <div class="lst-container">
        <table>
            <tr data-th-each="ses: ${sessions}">

                <th>Intitulé :</th>
                <td><a th:href="@{'session/'+${ses.id}}"
                       data-th-text="${ses.formation.intitule}"></a></td>
                <th>Client :</th>
                <td data-th-text="${ses.client}"></td>
                <th>Date de début :</th>
                <td data-th-text="${ses.dateDebut}"></td>
                <th>Date de fin :</th>
                <td data-th-text="${ses.dateFin}"></td>
                <th>Formateur :</th>
                <td data-th-each="form: ${ses.formateur}">
                    <span data-th-text="${form.prenom}"></span>
                    <span data-th-text="${form.nom}"></span>
                </td>
                <th>Participants :</th>
                <td data-th-each="participant: ${ses.participants}">
                    <span data-th-text="${participant.prenom}"></span>
                    <span data-th-text="${participant.nom}"></span>
                </td>
                <th>Etat :</th>
                <td data-th-text="${ses.etat}"></td>
            </tr>
        </table>
    </div>


    <form action="/creer-session" method="get" class="container-btn-enregistrer">
        <button type="submit" class="pure-button">Ajouter une session de formation</button>
    </form>

</main>
    </div>
</body>

    <div th:insert="~{fragments :: footer}">...</div>

</html>