name: Run Playwright Tests

on:
  push:

jobs:
  lancement-appli-et-test:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.32.0-focal

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17

      - name: Préparation Gradle
        uses: gradle/gradle-build-action@v2
      - name: Lancement de l'application
        run: |
          ./gradlew bootRun &

      - name: Attente de la disponibilité de l'application
        uses: cygnetdigital/wait_for_response@v2.0.0
        with:
          url: 'http://localhost:8080/formations'

#      - name: Build & Install
#        run: ./mvnw -B install -D skipTests --no-transfer-progress
#
#      - name: Install Playwright
#        run: |
#          cd playwright_java
#          ./mvnw exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install --with-deps"

      - name: Run tests
        run: |
          cd playwright_java
          ./gradlew test
